:root{
   --primary__bg:#6c5ce7;
   --title__color:#2d3436;
   --font__primary: 2rem;
}

html{
   box-sizing: border-box;
}

*,  *::before, *::after {
   box-sizing: inherit;
}

p{
   margin:0;
   padding:0;
}

body{
   padding:0;
   margin:0;
   font-family: 'Roboto Mono', monospace;
   -webkit-font-smoothing: antialiased;
}

/*utils*/

.text-center{
   text-align: center;
}

.wrapper{
   height:auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.aboutme{
   max-height: 800px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin:2rem 0;
}


.aboutme__coffe svg{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width:40rem;
   height:60px
}

.aboutme__name {
   color: var(--primary__bg);
   font-family: var(--font__primary);
   margin-bottom:2rem;
}

.aboutme__name h2{
   margin-bottom: 5px;
}

.aboutme__contain{
   width:100%;
   background-color: var(--primary__bg);
   box-shadow:0px 2px 20px 2px #00000070;
}

.aboutme__descr{
   max-width:1200px;
   margin: 0 auto;
   padding: 4rem 2rem;
   text-align: left;
   font-size:calc(1rem + 3px);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.aboutme__paragraph{
   line-height: 1.8rem;
   margin-bottom: 20px;
   font-weight: 400;
   color:var(--title__color);
}

.aboutme__link{
   text-decoration: none;
   cursor: pointer;
   color:white;
   transition: all .3s ease-in;
}

.aboutme__link:hover{
   color:var(--title__color);
   box-shadow: var(--title__color);
}

.aboutme__link:visited{
   text-decoration:line-through;
}

.container{
   height: auto;
   max-width: 100%;
   width:1200px;
   margin:0 auto;
   padding:0;
   flex-grow: 1;
}

.title{
   font-size: 1.7rem;
   color:var(--title__color);
   position: relative;
   margin-bottom: 50px;
}

.title::after{
   content:' ';
   width: 20px;
   height:10px;
   display: block;
   position:absolute;
   background-color: var(--primary__bg);
   margin-top: 10px;
   left:49%;
}

.cards{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin:0 10px;
   padding-bottom: 50px;
}

.cards__box{
   padding:65px 50px 45px;
   flex:1 100%;
   border: .3px solid rgba(145, 145, 145, 0.78);
   margin-bottom:1rem;
   margin-top:1rem;
   transition: all .3s ease-in;
}

.cards__box:hover{
 -webkit-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   -moz-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
}

.cards__icon{
   max-width:88px;
   max-height:88px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding:28px;
   background-color: var(--primary__bg);
}

svg g {
   fill: ffffff;
}

.guide{
   background-color: #6c5ce740;
   width:100%;
   max-height:800px;
   transition: all .3s ease-in;
}

.guide:hover{
   -webkit-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   -moz-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
}

.guide__box{
   max-width: 1200px;
   margin:0px auto;
   padding:50px 25px;
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.guide__title{
   margin:0;
   margin-bottom:10px;
   color:var(--title__color);
   width:100%;
   text-align: left;
}

.guide__desc{
   color: #525252;
   font-size: calc(.9rem + 3px);
   padding: 10px 0px;
   line-height: 1.5rem;
}

.guide__box__items{
   display: flex;
   flex-direction: row;
   -moz-box-align: center;
   align-items: center;
   overflow-x: auto;
   width: 100%;
   padding: 2rem;
}

.guide__column{
 margin-right: 2rem;
}

.guide__item{
   width:250px;
   height:300px;
   background: white;
   margin: 20px 0px 30px 0;
   -webkit-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   -moz-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
}

.guide__button{
   background-color: white;
   border:1px solid var(--title__color);
   font-family: 'Roboto Mono', monospace;
   /* height:45px; */
   padding:20px;
   width:100%;
   cursor:pointer;
   transition: all .3s ease-in;
}

.guide__button:hover{
   background-color: var(--primary__bg);
   border:1px solid white;
   color:white;
   -webkit-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   -moz-box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
   box-shadow: 0px 0px 25px -10px rgba(99,99,99,0.9);
}

.contact{
   max-width:1200px;
   padding: 35px 10px;
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items:center;
}

.contact__title{
   font-size:1.7rem;
   color:var(--title__color);
   position:relative;
}

.contact__title::after{
   content:' ';
   width: 10%;
   height:10px;
   display: block;
   position:absolute;
   background-color: var(--primary__bg);
   margin-top: 10px;
   left:45%;
}

.contact__social{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   max-width: 150px;
   align-items: center;
   width: 100%;
   /* margin: 3rem 0rem 2rem 0rem; */
}

.contact__icon{
   max-height: 80px;
}

.contact__icon svg {
   height: calc(1.5rem + .7vw);
   opacity:.6;
   cursor:pointer;
   transition: all .3s ease-in;
}

.contact__icon svg:hover {
   opacity:1;
   transform: scale(1.1);
}

.cafesito{
   max-width: 800px;
}

.cafesito__desc{
   margin: 2rem 0;
}

.section-footer{
   background-color: var(--primary__bg);
   width:100%;
   height:70px;
   display: flex;
   box-shadow:0px 15px 20px 14px #00000070;
}

.footer__desc{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0 auto;
}


@media(min-width: 768px){
   .cards__box{
      margin-right: 1rem;
      flex:1 calc(50% - 30px);
   }
   .guide__box{
      text-align: center;
   }
   .guide__title{
      text-align: center;
   }
   .guide__box__items{
      justify-content: start;
   }
}

@media(min-width: 1024px){
   .container{
      display: grid;
   }
   .cards__box{
      margin-right: 1rem;
      flex:1 calc(32% - 30px);
   }
   .guide__box__items{
      justify-content: space-evenly;
   }
}